[submodule "vim/bundle/vim-airline"]
  path = vim/bundle/vim-airline
  url = https://github.com/bling/vim-airline
  ignore = dirty
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic
  ignore = dirty
[submodule "vim/bundle/ack"]
  path = vim/bundle/ack
  url = https://github.com/mileszs/ack.vim
  ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
  path = vim/bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized
  ignore = dirty
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree
  ignore = dirty
[submodule "vim/bundle/vim-surround"]
  path = vim/bundle/vim-surround
  url = https://github.com/tpope/vim-surround
  ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
  path = vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive
  ignore = dirty
[submodule "vim/bundle/vim-dispatch"]
  path = vim/bundle/vim-dispatch
  url = https://github.com/tpope/vim-dispatch
  ignore = dirty
[submodule "vim/bundle/rainbow_parentheses.vim"]
  path = vim/bundle/rainbow_parentheses.vim
  url = https://github.com/kien/rainbow_parentheses.vim
  ignore = dirty
[submodule "vim/bundle/paredit.vim"]
  path = vim/bundle/paredit.vim
  url = https://github.com/vim-scripts/paredit.vim
  ignore = dirty
[submodule "vim/bundle/unite.vim"]
  path = vim/bundle/unite.vim
  url = https://github.com/Shougo/unite.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-go"]
  path = vim/bundle/vim-go
  url = https://github.com/fatih/vim-go.git
  ignore = dirty
