.DS_Store
.netrwhist
.clj-kondo/
.cpcache/
.lsp/
emacs/.config/emacs/.lsp*
emacs/.config/emacs/.last-package-update-day
emacs/.config/emacs/anaconda-mode/
emacs/.config/emacs/auto-save-list/
emacs/.config/emacs/backups/
emacs/.config/emacs/bookmarks
emacs/.config/emacs/custom.el
emacs/.config/emacs/.cache/
emacs/.config/emacs/.dap-breakpoints
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/elpa/
emacs/.config/emacs/elpaca/
emacs/.config/emacs/ensime/
emacs/.config/emacs/eshell/history
emacs/.config/emacs/eshell/lastdir
emacs/.config/emacs/history
emacs/.config/emacs/ido.last
emacs/.config/emacs/irony/
emacs/.config/emacs/network-security.data
emacs/.config/emacs/places
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/recentf
emacs/.config/emacs/server/
emacs/.config/emacs/straight/
emacs/.config/emacs/transient/
emacs/.config/emacs/tramp
emacs/.config/emacs/tree-sitter/
emacs/.config/emacs/url/
emacs/.config/emacs/quelpa/
lazygit/.config/lazygit/state.yml
micro/.config/micro/buffers/
micro/.config/micro/plug/
nushell/.config/nushell/config.local.nu
nushell/.config/nushell/history.sqlite*
nvim/.config/nvim/plugin/
ssh/.ssh/*
!ssh/.ssh/config
tmux/.config/tmux/plugins/*
!tmux/.config/tmux/plugins/tpm/
nix/**/result*
vim/.vim/bundle/start/*
!vim/.vim/bundle/start/fzf
vim/.vim/pack/minpac/*
!vim/.vim/pack/minpac/opt
vim/.vim/pack/minpac/opt/*
!vim/.vim/pack/minpac/opt/minpac
vim/.vim/plugins/
