.netrwhist
emacs.d/.#ido.last
emacs.d/anaconda-mode/
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/ensime/
emacs.d/eshell/
emacs.d/ido.last
emacs.d/irony/
emacs.d/recentf
emacs.d/server/
emacs.d/tramp
vim/bundle/repos/
vim/bundle/.cache/
vim/bundle/cache_nvim
vim/bundle/state_nvim.vim
