[submodule "vim/bundle/vim-airline"]
  path = vim/bundle/vim-airline
  url = https://github.com/bling/vim-airline
  ignore = dirty
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic
  ignore = dirty
[submodule "vim/bundle/ack"]
  path = vim/bundle/ack
  url = https://github.com/mileszs/ack.vim
  ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
  path = vim/bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized
  ignore = dirty
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree
  ignore = dirty
[submodule "vim/bundle/vim-surround"]
  path = vim/bundle/vim-surround
  url = https://github.com/tpope/vim-surround
  ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
  path = vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive
  ignore = dirty
[submodule "vim/bundle/vim-dispatch"]
  path = vim/bundle/vim-dispatch
  url = https://github.com/tpope/vim-dispatch
  ignore = dirty
[submodule "vim/bundle/rainbow_parentheses.vim"]
  path = vim/bundle/rainbow_parentheses.vim
  url = https://github.com/kien/rainbow_parentheses.vim
  ignore = dirty
[submodule "vim/bundle/paredit.vim"]
  path = vim/bundle/paredit.vim
  url = https://github.com/vim-scripts/paredit.vim
  ignore = dirty
[submodule "vim/bundle/vim-go"]
  path = vim/bundle/vim-go
  url = https://github.com/fatih/vim-go.git
  ignore = dirty
[submodule "vim/bundle/vim-tomorrow-theme"]
  path = vim/bundle/vim-tomorrow-theme
  url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/vim-fsharp"]
	path = vim/bundle/vim-fsharp
	url = https://github.com/fsharp/vim-fsharp.git
[submodule "vim/bundle/vim-rust"]
	path = vim/bundle/vim-rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/vim-denite"]
	path = vim/bundle/vim-denite
	url = https://github.com/Shougo/denite.nvim.git
[submodule "vim/bundle/deoplete.nvim"]
	path = vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
	ignore = dirty
[submodule "vim/bundle/neomake"]
	path = vim/bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/dein.vim"]
	path = vim/bundle/dein.vim
	url = https://github.com/Shougo/dein.vim.git
