.netrwhist
.clj-kondo/
.cpcache/
.lsp/
config/emacs/.lsp*
config/emacs/.last-package-update-day
config/emacs/anaconda-mode/
config/emacs/auto-save-list/
config/emacs/bookmarks
config/emacs/.cache/
config/emacs/.dap-breakpoints
config/emacs/eln-cache/
config/emacs/elpa/
config/emacs/elpaca/
config/emacs/ensime/
config/emacs/eshell/history
config/emacs/eshell/lastdir
config/emacs/ido.last
config/emacs/irony/
config/emacs/network-security.data
config/emacs/projectile-bookmarks.eld
config/emacs/recentf
config/emacs/server/
config/emacs/straight/
config/emacs/transient/
config/emacs/tramp
config/emacs/url/
config/emacs/quelpa/
config/micro/buffers/
config/micro/plug/
config/nvim/plugin/
config/tmux/.tmux/plugins/*
config/!tmux/.tmux/plugins/tpm
vim/.vim/bundle/start/*
!vim/.vim/bundle/start/fzf
vim/.vim/pack/minpac/*
!vim/.vim/pack/minpac/opt
vim/.vim/pack/minpac/opt/*
!vim/.vim/pack/minpac/opt/minpac
vim/.vim/plugins/
