{:mvn/repos {"sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}
             "central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :paths ["src"]
 :aliases {:compliment {:extra-deps {compliment {:mvn/version "RELEASE"}}}
           :eastwood {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "eastwood.lint" "{:source-paths [\"src\"] :test-paths [\"test\"]}"]}
           :nrepl {:extra-deps {nrepl {:mvn/version "RELEASE"}}
                   :main-opts ["-m" "nrepl.cmdline"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "depot.outdated.main"]}
           :socket {:jvm-opts ["-Dclojure.server.repl={:port 5000 :accept clojure.core.server/repl}"]}
           :release {:override-deps {org.clojure/clojure {:mvn/version "RELEASE"}}}
           :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git" :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                    :main-opts ["-m" "cognitect.test-runner"
                                "-d" "test"
                                "-d" "src/test/clojure"]}
           :test {:extra-paths ["test" "src/test/clojure" "src/test/clojurescript"]
                  :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}}}
