<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
<dict>
  <key>Label</key>
  <string>gnu.emacs.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/dan.sheikh/.nix-profile/bin/emacs</string>
    <string>--daemon</string>
  </array>
 <key>RunAtLoad</key>
 <true/>
 <key>ServiceDescription</key>
 <string>Gnu Emacs Daemon</string>
 <key>StandardErrorPath</key>
 <string>/tmp/emacs/emacs.stderr.log</string>
 <key>StandardOutPath</key>
 <string>/tmp/emacs/emacs.stdout.log</string>
 <key>UserName</key>
 <string>dan.sheikh</string>
</dict>
</plist>
